body {
  background-color: #ff6600;
  color: #ffffcc;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

i.main {
  padding: 0px;
  color: #ffffcc;
}

i {
  padding-top: 60px;
}

a.main {
  color: #FFDC86;
}

a {
  color: #FFDC86;

  &:focus,
  &:hover {
    color: #FFF7D8;
  }
}

h1 {
  padding-bottom: 20px;
}

h2 {
  color: #ffffcc;
  padding-top: 20px;
}

h4 {
  padding-top: 20px;
}

.nav-wrapper {
  background-color: #D43206;
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  color: #ffffcc;
}

nav ul li:hover {
   background-color: #C52B01;
}

.white-text li a{
  color: #ffffcc;
 }



//Materialize pushpin stuff:
// // Only necessary for window height sized blocks.
//  html, body, .block {
//    height: 100%;
//  }

 // Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}

i {
  font-size: 50px;
  letter-spacing: 30px;
}

footer.page-footer {
  background-color: #811503;
  color: #ffffcc;
  padding: 0px;
}

.languages, .welcome, .work, .education, .projects, .about, .hobbies {
  padding-bottom: 50px;
}

#languages {
  padding-bottom: 50px;
}
