body {
  background-color: #ff6600;
  color: #ffffcc;
  text-align: center;
}

i {
  padding-top: 40px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  padding-bottom: 20px;
}

h2 {
  color: #ffffcc;
  padding-top: 20px;
}

h4 {
  padding-top: 20px;
}

.nav-wrapper {
  background-color: #FF4600;
}

nav ul li:hover {
   background-color: #FF2300;
}

.white-text li a{
  color: #ffffcc;
 }

//Materialize pushpin stuff:
// // Only necessary for window height sized blocks.
//  html, body, .block {
//    height: 100%;
//  }

 // Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}

i {
  font-size: 50px;
  letter-spacing: 30px;
}
