.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 50%;
}

p.body {
  padding: 10px;
}

body {
  background-color: white;
  color: white;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

i.main {
  padding: 0px;
  color: white;
}

i {
  padding-top: 60px;
}

a.main {
  color: white;
}

a {
  color: white;

  &:focus,
  &:hover {
    color: #1B779B;
  }
}

h1 {
  padding-bottom: 20px;
  padding-top: 60px;
}

h2 {
  color: white;
  padding-top: 20px;
}

h3 {
  padding-top: 40px;
}

h4 {
  padding-top: 20px;
}

h5 {
  padding-bottom: 20px;
}

.nav-wrapper {
  background-color: #0C223A;
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  color: white;
}

nav ul li:hover {
   background-color: #1B779B;
}

.white-text li a{
  color: white;
 }

//Materialize pushpin stuff:
// // Only necessary for window height sized blocks.
//  html, body, .block {
//    height: 100%;
//  }

 // Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}

i {
  font-size: 50px;
  letter-spacing: 30px;
}

footer.page-footer {
  background-color: #101F30;
  color: white;
  padding: 0px;
}

.languages, .welcome, .work, .education, .projects, .about {
  padding-bottom: 50px;
  min-height: 600px;
}

.welcome {
  background-color: #145872;
}

.projects {
  background-color: #085463;
}

.languages {
  background-color: #145F72;
}

.work  {
  background-color: #08415C;
}

.education {
  background-color: #033F63;
}

.about {
  background-color: #112E4F;
}

#languages {
  padding-bottom: 50px;
}
