-# %footer.page-footer
-#   .container
-#     .row
-#       .col.l6.s12
-#         %h5 Contact me
-#         %p Feel free to contact me if you are interested in speaking with me, or if you have any questions.
-#       .col.l4.offset-l2.s12
-#         %a{:href => "mailto:amanda@alling.org", :target => "_blank"}
-#           %i.fa.fa-envelope.fa-3x{"aria-hidden" => "true"}
-#         %a{:href => "https://www.linkedin.com/in/amanda-alling-andr%C3%A9n-033201116/", :target => "_blank"}
-#           %i.fa.fa-linkedin.fa-3x{"aria-hidden" => "true"}
-#         %a{:href => "https://github.com/sajaas", :target => "_blank"}
-#           %i.fa.fa-github.fa-3x{"aria-hidden" => "true"}
-#   .footer-copyright
-#     .container
-#       © 2017 Copyright Amanda Alling Andrén

%footer.page-footer
  %a{:href => "mailto:amanda@alling.org", :target => "_blank"}
    %i.fa.fa-envelope.fa-3x{"aria-hidden" => "true"}
  %a{:href => "https://www.linkedin.com/in/amanda-alling-andr%C3%A9n-033201116/", :target => "_blank"}
    %i.fa.fa-linkedin.fa-3x{"aria-hidden" => "true"}
  %a{:href => "https://github.com/sajaas", :target => "_blank"}
    %i.fa.fa-github.fa-3x{"aria-hidden" => "true"}
  .footer-copyright
    .container
      © 2017 Copyright Amanda Alling Andrén
