%h1 Amanda is me! I am her!

%h3 Languages & tools
%i.devicon-ruby-plain
%i.devicon-javascript-plain
%i.devicon-css3-plain
%i.devicon-html5-plain
%i.devicon-jquery-plain
%i.devicon-foundation-plain
%i.devicon-cucumber-plain
%i.devicon-jasmine-plain
%i.devicon-slack-plain
%i.devicon-github-plain
%i.devicon-heroku-plain
%i.devicon-photoshop-plain
%i.devicon-postgresql-plain
%i.devicon-atom-original

%h3 Contact
%i.devicon-facebook-plain
%i.fa.fa-linkedin{"aria-hidden" => "true"}
%i.devicon-github-plain
%i.fa.fa-envelope{"aria-hidden" => "true"}

%h3 Hobbies
%i.fa.fa-gamepad{"aria-hidden" => "true"}
%i.fa.fa-camera{"aria-hidden" => "true"}
%i.fa.fa-plane{"aria-hidden" => "true"}
%i.fa.fa-book{"aria-hidden" => "true"}
