%h1 Amanda is me! I am her!

%h3 Contact
%i.devicon-facebook-plain ???
%i.fa.fa-linkedin{"aria-hidden" => "true"}
%i.devicon-github-plain
%i.fa.fa-envelope{"aria-hidden" => "true"}

%h3 Hobbies
%i.fa.fa-gamepad{"aria-hidden" => "true"}
%i.fa.fa-camera{"aria-hidden" => "true"}
%i.fa.fa-plane{"aria-hidden" => "true"}
%i.fa.fa-book{"aria-hidden" => "true"}

%ul
  %li Swedish
  %li English
  %li French
  %li Japanese
